div(style='display: none')
    video(id='main_screen__modal', controls='')
        source(src='static/video/home_first_video.webm', type='video/webm')
        source(src='static/video/home_first_video.mp4', type='video/mp4')