
@font-face {
    font-family: 'Suisse Intl Black';
    src: url('../fonts/SuisseIntl-Black.eot');
    src: url('../fonts/SuisseIntl-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SuisseIntl-Black.woff') format('woff'),
        url('../fonts/SuisseIntl-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Suisse Intl Bold';
    src: url('../fonts/SuisseIntl-Bold.eot');
    src: url('../fonts/SuisseIntl-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SuisseIntl-Bold.woff') format('woff'),
        url('../fonts/SuisseIntl-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Suisse Intl Thin';
    src: url('../fonts/SuisseIntl-Thin.eot');
    src: url('../fonts/SuisseIntl-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SuisseIntl-Thin.woff') format('woff'),
    url('../fonts/SuisseIntl-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Suisse Intl SemiBold';
    src: url('../fonts/SuisseIntl-SemiBold.eot');
    src: url('../fonts/SuisseIntl-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SuisseIntl-SemiBold.woff') format('woff'),
        url('../fonts/SuisseIntl-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Suisse Intl Light';
    src: url('../fonts/SuisseIntl-Light.eot');
    src: url('../fonts/SuisseIntl-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SuisseIntl-Light.woff') format('woff'),
    url('../fonts/SuisseIntl-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Suisse Intl UltraLight';
    src: url('../fonts/SuisseIntl-UltraLight.eot');
    src: url('../fonts/SuisseIntl-UltraLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SuisseIntl-UltraLight.woff') format('woff'),
    url('../fonts/SuisseIntl-UltraLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Suisse Intl Medium';
    src: url('../fonts/SuisseIntl-Medium.eot');
    src: url('../fonts/SuisseIntl-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SuisseIntl-Medium.woff') format('woff'),
        url('../fonts/SuisseIntl-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Suisse Intl Regular';
    src: url('../fonts/SuisseIntl-Regular.eot');
    src: url('../fonts/SuisseIntl-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SuisseIntl-Regular.woff') format('woff'),
    url('../fonts/SuisseIntl-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Suisse Intl Book';
    src: url('../fonts/SuisseIntl-Book.eot');
    src: url('../fonts/SuisseIntl-Book.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SuisseIntl-Book.woff') format('woff'),
    url('../fonts/SuisseIntl-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}