.icon-404 {
  width: 2.97em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-about_us_icon1 {
  width: 1em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-about_us_icon2 {
  width: 1.15em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-arrow_icon {
  width: 1.66em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-blur_filter {
  width: 1em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-close-ico {
  width: 1em;
  height: 1em;
  fill: #fff;
  stroke: initial;
}
.icon-file {
  width: 0.75em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-logo {
  width: 3em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-platform_ico1 {
  width: 0.71em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-platform_ico2 {
  width: 1.09em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-platform_ico3 {
  width: 1.46em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-play {
  width: 0.85em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-vintage-logo {
  width: 0.73em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
