mixin cookies()
    section.cookies
        .cookies__desc
            p
                |   We use cookies and analysis tools to improve the user friendliness of the Internet website and personalise the advertising of GMS. More details:
                a(href='./privacy.html') Data Privacy and Information Protection Statement.
        a.rect_btn.rect_btn--green.cookies_btn(href='#')
            .rect_btn__balls(data-color='#3db565')
            span I agree


