mixin logo(id)
    svg.logo-svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewbox='0 0 475.8 158.6')
        defs
            style.
                .logo-svg-group .circle {
                    fill: #37b662;
                }

                .logo-svg-group .letter {
                    fill: #fff;
                }
            clipPath(id=`${id}`)
                path.circle(d='M0,79.3c0,44.76,34.54,79.3,79.3,79.3s79.3-34.54,79.3-79.3S124.06,0,79.3,0,0,34.54,0,79.3Z')
                path.circle(d='M158.6,79.3c0,44.76,34.54,79.3,79.3,79.3s79.3-34.54,79.3-79.3S282.66,0,237.9,0,158.6,34.54,158.6,79.3Z')
                path.circle(d='M317.2,79.3c0,44.76,34.54,79.3,79.3,79.3s79.3-34.54,79.3-79.3S441.26,0,396.5,0,317.2,34.54,317.2,79.3Z')
        g.logo-svg-group(clip-path=`url(#${id})`)
            path.circle(d='M0,79.3c0,44.76,34.54,79.3,79.3,79.3s79.3-34.54,79.3-79.3S124.06,0,79.3,0,0,34.54,0,79.3Z')
            path.circle(d='M158.6,79.3c0,44.76,34.54,79.3,79.3,79.3s79.3-34.54,79.3-79.3S282.66,0,237.9,0,158.6,34.54,158.6,79.3Z')
            path.circle(d='M317.2,79.3c0,44.76,34.54,79.3,79.3,79.3s79.3-34.54,79.3-79.3S441.26,0,396.5,0,317.2,34.54,317.2,79.3Z')
            path.letter(d='M393.1,85.6C366,81.2,364,70.3,364,63.6c0-19.9,26.1-20.8,30.4-20.8,14.1,0,25.8,5.2,30.6,9.7V74.4h-.7c-8.2-16.2-23-18.1-31.3-18.1-5.2,0-13.4.6-13.4,7.3,0,5.2,5.8,6.7,20.3,9.1C427,77.1,429,88.3,429,95c0,19.9-26.1,20.8-30.4,20.8-15.3,0-25.8-5.5-30.6-10.2V83.7h.7c8.2,16.6,22.7,18.6,31.3,18.6,5.2,0,13.4-.6,13.4-7.3C413.4,89.8,407.6,88,393.1,85.6Z')
            path.letter(d='M238.4,110.6l10-66.3h30.3v70H264.3v-65h-1.4l-11,65h-28l-11-65h-1.4v65H197.1v-70h30.3l10,66.3Z')
            path.letter(d='M79.9,87.9h28.3v1C102,96.6,91.3,101,79.2,101c-13.9,0-23.3-9.5-23.3-21.7s9.4-21.7,23.3-21.7c11.2,0,20.3,4.5,25.4,14.5h.8V50.3c-7.4-5.6-16.8-7.5-25.5-7.5-23.3,0-40,15.9-40,36.5s16.7,36.5,40,36.5c13.4,0,24.4-4.5,30.8-10.2V74.4H79.9Z')
mixin text-logo(id)
    svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', x='0px', y='0px', viewbox='0 0 149.9 51.2')
        style(type='text/css').
            .text-logo-svg-group .st0 {
                fill: #37B662;
            }

            .text-logo-svg-group .st1 {
                fill: #FFFFFF;
            }

            .text-logo-svg-group .st2 {
                font-family: 'Suisse Intl Light';
            }

            .text-logo-svg-group .st3 {
                font-size: 9px;
            }

            .text-logo-svg-group .st4 {
                fill: #FFFFFF;
            }

            .text-logo-svg-group .st5 {
                fill: #37B662;
            }
        defs
            clippath(id=`${id}`)
                circle.circle(cx='25.7', cy='25.7', r='25.7')
                circle.circle(cx='74.7', cy='25.6', r='25.7')
                circle.circle(cx='124.2', cy='25.6', r='25.7')
        g.text-logo-svg-group(clip-path=`url(#${id})`)
            circle.st0(cx='25.7', cy='25.7', r='25.7')
            circle.st0(cx='74.7', cy='25.6', r='25.7')
            circle.st0(cx='124.2', cy='25.6', r='25.7')
            text(transform='matrix(1 0 0 1 9.7012 28.8418)')
                tspan.st1.st2.st3(x='0', y='0') C
                tspan.st1.st2.st3(x='6.3', y='0') h
                tspan.st1.st2.st3(x='11.4', y='0') o
                tspan.st1.st2.st3(x='16.5', y='0') o
                tspan.st1.st2.st3(x='21.5', y='0') se
            text(transform='matrix(1 0 0 1 57.4731 28.959)')
                tspan.st1.st2.st3(x='0', y='0') P
                tspan.st1.st2.st3(x='5.6', y='0') r
                tspan.st1.st2.st3(x='8.4', y='0') o
                tspan.st1.st2.st3(x='13.5', y='0') g
                tspan.st1.st2.st3(x='18.6', y='0') r
                tspan.st1.st2.st3(x='21.4', y='0') e
                tspan.st1.st2.st3(x='26.5', y='0') s
                tspan.st1.st2.st3(x='31.2', y='0') s
            g
                path.st4(d='M109.1,25.7c0,2.8,2.2,5,5,5c2.8,0,5-2.2,5-5c0-2.8-2.2-5-5-5C111.3,20.6,109.1,22.8,109.1,25.7')
                path.st4(d='M119.2,25.7c0,2.8,2.2,5,5,5c2.8,0,5-2.2,5-5c0-2.8-2.2-5-5-5C121.4,20.6,119.2,22.8,119.2,25.7')
                path.st4(d='M129.3,25.7c0,2.8,2.2,5,5,5c2.8,0,5-2.2,5-5c0-2.8-2.2-5-5-5C131.5,20.6,129.3,22.8,129.3,25.7')
                path.st5(d='M134.1,26.1c-1.7-0.3-1.8-1-1.8-1.4c0-1.3,1.7-1.3,1.9-1.3c0.9,0,1.6,0.3,1.9,0.6v1.4h0c-0.5-1-1.5-1.1-2-1.1   c-0.3,0-0.8,0-0.8,0.5c0,0.3,0.4,0.4,1.3,0.6c1.7,0.3,1.8,1,1.8,1.4c0,1.3-1.7,1.3-1.9,1.3c-1,0-1.6-0.3-1.9-0.6v-1.4h0   c0.5,1.1,1.4,1.2,2,1.2c0.3,0,0.9,0,0.9-0.5C135.4,26.3,135,26.2,134.1,26.1')
                polygon.st5(points='124.3,27.6 124.9,23.4 126.8,23.4 126.8,27.9 125.9,27.9 125.9,23.8 125.8,23.8 125.1,27.9    123.3,27.9 122.6,23.8 122.6,23.8 122.6,27.9 121.6,27.9 121.6,23.4 123.6,23.4 124.2,27.6  ')
                path.st5(d='M114.2,26.2h1.8v0.1c-0.4,0.5-1.1,0.8-1.8,0.8c-0.9,0-1.5-0.6-1.5-1.4c0-0.8,0.6-1.4,1.5-1.4   c0.7,0,1.3,0.3,1.6,0.9h0.1v-1.4c-0.5-0.4-1.1-0.5-1.6-0.5c-1.5,0-2.5,1-2.5,2.3c0,1.3,1.1,2.3,2.5,2.3c0.8,0,1.5-0.3,2-0.6v-2h-2   V26.2z')
